.TodoItem {
    padding: 5px 20px;
    font-size: 1.4rem;
    cursor: pointer;
    color: rgb(68, 63, 63);
    display: flex;
    align-items: center;
}

.TodoItem > p {
    margin-left: 20px;
}

.CompleteItem > p {
    color: gray;
    text-decoration: line-through;
    opacity: 0.4;
}